{% extends "one_column_body.html" %}
{% block title %}
    {% spaceless %}
        {% trans %}
            Questions
        {% endtrans %}
    {% endspaceless %}
{% endblock %}
{% block content %}
    {% include "widgets/search_bar.html" %}
    {% include "widgets/ask_button.html" %}
    {% include "main_page/headline.html" %}
    {% include "main_page/tab_bar.html" %}
    <div id="question-list">
        {% include "main_page/questions_loop.html" %}
    </div>
    {% include "main_page/paginator.html" %}
{% endblock %}
{% block endjs %}
    <script type="text/javascript">
        askbot['settings']['showSortByRelevance'] = {{ show_sort_by_relevance|as_js_bool }};
    </script>
    {% include "main_page/javascript.html" %}
    {% include "main_page/custom_javascript.html" ignore missing %}
{% endblock %}
<!-- end questions.html -->
